body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(186, 98, 234);
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
}
h1{
    font-size: 30px;
}
p{
    font-size: 18px;
    color: white;
}
button{
    background-color: #ff4444;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}
form{
    max-width: 400px;
    margin: auto;
    background-color: rgba(90, 90, 246, 0.61);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

label{
    margin-bottom: 5px;
    display: block;
    text-align: start;
}

input[type="text"]{
    color: black;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 5px; /*aredonda as bordas*/
    background-color: #e4aefd;
}