body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
}

/* Estilo inicial para o div */
.caixa {
    padding: 20px;
    border: 2px solid transparent; /* Borda inicial invisível */
    background-color: #fff1e9;
    text-align: center;
    
}

/* Classe que será adicionada ao div */
.caixa-ativa {
    border-color: #ff9068; /* Borda azul quando a classe é adicionada */
    background-color: #fd0000; /* Fundo azul claro */
}

button{
    background-color: #da7e7e;
    color: black;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}